[Unit]
Description=Pleiades nspawn Container (gentoo)
Documentation=https://github.com/Zheke32174/pleiades-container
After=network.target local-fs.target
Wants=systemd-networkd.service

[Service]
Type=notify
ExecStart=/usr/bin/systemd-nspawn --keep-unit --boot --network-veth -M gentoo -D /workspaces/gentoo/root.x86_64
ExecStop=/usr/bin/machinectl poweroff gentoo
KillMode=mixed
Restart=always
RestartSec=10s
WatchdogSec=30s
TasksMax=infinity
CPUQuota=400%

[Install]
WantedBy=multi-user.target
