[Unit]
Description=Pleiades nspawn Container Bridge
BindsTo=gentoo-nspawn.service
After=gentoo-nspawn.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/machinectl start gentoo
ExecStop=/usr/bin/machinectl poweroff gentoo

[Install]
WantedBy=multi-user.target
