[Unit]
Description=Pleiades Ecosystem Target
Documentation=https://github.com/Zheke32174/pleiades-container
Requires=pleiades-atlas.service pleiades-nexus.service
After=network-online.target
Wants=pleiades-taygete.service pleiades-alcyone.service pleiades-celaeno.service \
      pleiades-electra.service pleiades-maia.service pleiades-request-broker.service \
      pleiades-adaptive-builder.service pleiades-forensic-scanner.service \
      pleiades-telemetry-pipeline.service
DefaultDependencies=no
AllowIsolate=yes
